/* default */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    display: block;
    max-width: 100%;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    background-color: #2A2A29;
    font-family: "Hahmlet", serif;
    color: #E6E7DF;
}

h2 {
    font-size: 4.8rem;
}

h3 {
    font-size: 4.0rem;
    margin-bottom: 20px;
}

h4 {
    font-size: 3.6rem;
}

h5 {
    font-size: 2.4rem;
}

p {
    font-size: 1.6rem;
}

main section,
footer {
    padding: 0 100px;
}

main section h3 {
    border-bottom: 1px solid #E6E7DF;
}

::selection {
    background: #E6E7DF;
    color: #2A2A29;
}

/* 파이어폭스 */
::-moz-selection {
    background: #E6E7DF;
    color: #2A2A29;
}

/* //default */

/* header */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 5%;
    background-color: #E6E7DF;
    color: #2A2A29;
    z-index: 999;
}

header h1 {
    position: absolute;
    left: -9999px;
}

header nav {
    position: relative;
    display: flex;
    justify-content: flex-end;
}

header nav ul {
    width: 100%;

    font-size: 2.4rem;

    display: flex;
    justify-content: space-between;
    gap: 10%;
}

.navLink {
    position: relative;
    padding-bottom: 6px;
    text-decoration: none;
    color: #2A2A29;
}

.navLink::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background-color: #2A2A29;
    transition: width 0.3s ease;
}

.navLink.active::after {
    width: 100%;
}

/* //header */

/* intro */
main #intro {
    width: 100%;
    height: 100vh;
    background-color: #2a2a298c;
    color: #E6E7DF;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main #intro h2 {
    line-height: 150%;
    margin-bottom: 50px;
}

/* //intro */

/* about me */
main #aboutMe .aboutMeWrap {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main #aboutMe .aboutMeWrap .aboutMeLBox {
    flex: 3;
    padding: 50px 0;
}

main #aboutMe .aboutMeWrap .aboutMeRBox {
    flex: 7;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

main #aboutMe .aboutMeWrap .aboutMeRBox>p {
    font-size: 2rem;
}

main #aboutMe .aboutMeWrap .aboutMeRBox .aboutList {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

main #aboutMe .aboutMeWrap .aboutMeRBox .aboutList h5 {
    padding: 10px 0;
}

main #aboutMe .aboutMeWrap .aboutMeRBox .aboutList .data {
    padding: 0 15%;
}

main #aboutMe .aboutMeWrap .aboutMeRBox .aboutList .StudyWrap {
    display: flex;
    gap: 10px;
    padding: 0 15%;
}

main #aboutMe .aboutMeWrap .aboutMeRBox .aboutList .StudyWrap p {
    width: 80px;
    height: auto;
    display: inline-block;
    text-align: center;
    padding: 2px 5px;
    background-color: #E6E7DF;
    color: #2A2A29;
    border-radius: 30px;
}

/* //about me */

/* project */
main #project .articleWrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

main #project .articleWrap article {
    padding: 20px;
}

main #project .articleWrap article ul {
    display: flex;
    font-size: 1.6rem;
    gap: 10px;
    margin: 20px 0;
}

main #project .articleWrap article ul li {
    max-width: 130px;
    padding: 3px 10px;
    border-radius: 30px;
    background-color: #E6E7DF;
    color: #2A2A29;
    text-align: center;
    align-content: center;
}

main #project .articleWrap article .imgBox {
    position: relative;
    width: 100%;
    aspect-ratio: 8 / 6;
}

main #project .articleWrap article .imgBox img {
    margin-bottom: 10px;
}

main #project .articleWrap article .imgBox .overlay {
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #2a2a2983;
    top: 0;
    left: 0;
    text-align: center;
    align-content: center;
}

main #project .articleWrap article h5 {
    margin: 10px 0;
}

main #project .articleWrap article p {
    margin: 5px 0;
}

main #project .articleWrap article a {
    font-size: 1.6rem;
}

main #project .articleWrap article .textBox {
    margin-top: 15px;
}

main #project .articleWrap article .textBox .implementation {
    font-size: 2.0rem;
}

main #project .articleWrap article .textBox .contribution {
    font-size: 1.4rem;
}
/* //project */

/* skills */
main #skills {
    width: 100%;
    height: auto;
    margin-bottom: 100px;
}

main #skills .skillList {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

main #skills .skillList .skillWrap {
    position: relative;
    width: 10%;
    min-width: 100px;
    height: 50px;
}

main #skills .skillList .skillWrap span,
main #skills .skillList .skillWrap .bar {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 6px 14px;
    background-color: #E6E7DF;
    color: #2A2A29;
    border-radius: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    text-align: center;
    align-content: center;
}

main #skills .skillList .skillWrap span {
    z-index: 800;
}

main #skills .skillList .skillWrap span:hover {
    background-color: #92928d;
    color: #e7e7e4;
}

main #skills .skillList .skillWrap .bar {
    opacity: 0;
    transition: 1.3s ease-in-out;
    padding-left: 110px;
}

main #skills .skillList .skillWrap .bar.active {
    opacity: 1;
    width: 85vw;
}

/* //skills */

/* footer */
footer {
    width: 100%;
    margin: 100px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
}

footer .footerTitle {
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: space-between;
}

footer h3 {
    margin: 0;
    border-bottom: 1px solid #E6E7DF;
    align-content: center;
}

footer h5 img {
    display: inline-block;
    width: 2.4rem;
    height: auto;
}

/* //footer */

@media (max-width: 1410px) {
    main #project .articleWrap article ul {
        flex-direction: column;
    }

    main #aboutMe .aboutMeWrap {
        flex-direction: column;
    }
}

/* 반응형 태블릿 */
@media (max-width: 1024px) {
    h2 {
        font-size: 3.6rem;
    }

    h3 {
        font-size: 2.8rem;
        margin-bottom: 10px;
    }

    h4 {
        font-size: 2.6rem;
    }

    h5 {
        font-size: 2.4rem;
    }

    p {
        font-size: 1.4rem;
    }

    main section,
    footer {
        padding: 0 30px;
    }

    main #project .articleWrap {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: auto;
        gap: 32px;
    }

    main #project .articleWrap article {
        width: 100%;
        display: flex;
        gap: 30px;
    }

    main #project .articleWrap article .imgBox {
        width: 100%;
        flex: 1;
    }

    main #project .articleWrap article .textBox {
        width: 100%;
        flex: 1;
    }
}



/* 반응형 모바일 */
@media (max-width: 768px) {
    h2 {
        font-size: 2.0rem;
    }

    h3 {
        font-size: 2.2rem;
        margin-bottom: 5px;
    }

    h4 {
        font-size: 2.0rem;
    }

    h5 {
        font-size: 1.6rem;
    }

    p {
        font-size: 1.2rem;
    }

    header nav ul li {
        font-size: 1.6rem;
    }

    main #aboutMe .aboutMeWrap .aboutMeLBox {
        padding: 10px 0;
    }

    main #aboutMe .aboutMeWrap .aboutMeRBox {
        padding: 20px;
    }

    main #aboutMe .aboutMeWrap .aboutMeRBox>p {
        font-size: 1.6rem;
    }

    main #aboutMe .aboutMeWrap .aboutMeRBox .aboutList .data {
        padding-left: 30%;
    }

    main #project .articleWrap {
        gap: 10px;
    }

    main #project .articleWrap article {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 20px 0;
    }

    main #project .articleWrap article h5 {
        margin: 5px 0;
    }


    main #project .articleWrap article .imgBox {
        width: 100%;
        flex: 1;
    }

    main #project .articleWrap article .textBox {
        width: 100%;
        flex: 1;
        margin-top: 0px;
    }

    main #skills .skillList .skillWrap span,
    main #skills .skillList .skillWrap .bar {
        padding: 3px 7px;
        font-size: 1.2rem;
        font-weight: 400;
    }

    main #skills .skillList .skillWrap .bar {
        padding-left: 100px;
    }
}
